
{% extends "base.html" %}
{% load i18n  %}
{% load bootstrap %}

{% block custom_css %}
{% endblock %}
{% block main %}
<div class='col-lg-12 text-center'>
    <h1 class="">Clientes com Lista de Favoritos</h1>
</div>
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>

            </tr>
        </thead>
        <tbody>
            {% for favorito in favoritos %}
            <tr>
                <td>
                    <a class='text-black' href="{% url 'favoritos.lista_favoritos' pk=favorito.client.pk %}">
                        {{favorito.client.name}}
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}
<a href="{% url 'favoritos.cadastro' %}">
    <input type="button" class='btn btn-success' value="Adicionar">
</a>

{% endblock %}
